# pip install git+https://github.com/endgameinc/ember.git
flask>=1.1.2
gevent>=1.4.0
envparse
annoy
numpy
tqdm
pefile
tqdm
scipy>=1.7.3
pandas>=1.3.5
scikit-learn>=1.0.2
lightgbm>=3.3.5
lief
requests
